<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="POG.FennecFox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup><userSettings>
        <POG.FennecFox.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value/>
            </setting>
            <setting name="password" serializeAs="String">
                <value/>
            </setting>
            <setting name="updateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="day" serializeAs="String">
                <value>1</value>
            </setting>
        </POG.FennecFox.Properties.Settings>
    </userSettings>
</configuration>
